* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f8f9fa;
}

/* START OF NAVBAR CSS */
.logo-right {
    color: darkblue;
}

.navbar-brand {
    font-weight: bolder;
    font-size: 1.5rem;
}

.navbar-nav {
    gap: 40px;
    font-size: 1.2rem;
}

.nav-link {
    color: black;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #007bff;
}

.btn {
    color: black;
    font-weight: 500;
}

.img {
    width: 15%;
    height: 15%;
}

/* END OF NAVBAR CSS */

/* Start of Landing Page 1 */
.image img {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-left: 60px;
}
.landing-about-container {
    padding-top: 60px;
}

.landing-about-container h3 {
    font-size: 3.2rem;
    font-weight: bolder;
    color: #682b90;
}

.landing-about-container h3 span {
    color: #7869cd;
}

.landing-about-container p {
    font-size: 1.2rem;
    color: black;
    text-align: justify;
}

.landingPage-btn a {
    text-decoration: none;
    font-weight: 500;
}
.offer ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-left: 20px;
}

.offer li {
    font-size: 1.1rem;
    color: black;
}

.promotion {
    padding-top: 80px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.card-body h5 {
    font-size: 1.4rem;
    font-weight: bolder;
    color: #682b90;
    text-align: center;
}

.card-body p {
    text-align: center;
    font-size: 1.1rem;
}

/* End of Landing Page 1 */

/* Start of Landing Page 2 */

.landingPage2 {
    background-color: #184e84;
}

.landing-company-container {
    /* align-items: center; */
    padding-top: 50px;
    text-align: center;
}

.landing-company-container h3 {
    font-size: 3.2rem;
    font-weight: bolder;
    color: #682b90;
}

.landing-company-container h3 span {
    color: #7869cd;
}

.landing-company-container p {
    font-size: 1.2rem;
    color: black;
    text-align: center;
}

/* End of Landing Page 2 */
