* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.gradient-bg {
    background: radial-gradient(circle at top left, white, transparent 70%),
        radial-gradient(circle at top right, #007bff, transparent 70%),
        radial-gradient(circle at bottom right, white, transparent 70%),
        radial-gradient(circle at bottom left, #007bff, transparent 70%);
    min-height: 100vh;
}

.loginButton {
    border-color: #007bff;
    border-radius: 10px;
    width: 25%;
    height: 25%;
    background-color: white;
    /* border-color: transparent; */
}

.loginButton:hover {
    background-color: #007bff;
    color: white;
    transition: 0.3s ease;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
    min-height: 100vh;
}

.left {
    width: 100%;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.hoverable {
    cursor: pointer;
}
