.row.g-0 {
    display: flex;
}

.left-side {
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1% 5%;
}

.right-side {
    background-color: #f8f9fa;
    padding: 1.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    box-sizing: border-box;
}

.left-side img {
    display: block;
    margin: 0 auto;
    padding-left: 0;
}

.custom-text-title {
    margin-top: auto;
    color: #ff6f61;
    font-size: 2.5rem;
}

.custom-text {
    color: #d3d3d3;
    font-size: 2rem;
}

.custom-text-under {
    color: #ffd700;
    font-size: 1.5rem;
}

.text-container h1 {
    text-align: center;
}

.text-container p {
    text-align: center;
    font-size: 1.8rem;
}

@media (max-width: 768px) {
    .row.g-0 {
        flex-direction: column;
    }
    .left-side {
        display: none !important;
    }
    .right-side {
        flex: 1;
        max-width: 100%;
        height: auto;
    }
}

.form-custom {
    max-width: 550px;
    margin: 0 auto;
    padding: 1rem;
}

.form-label {
    font-size: 0.9rem;
}

.btn-secondary {
    background-color: #ffffff;
    color: black;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

.btn-secondary:hover {
    background-color: #d3d3d3;
    color: white;
}

.btn-custom {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    width: 50%;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-custom:hover {
    background-color: #218838;
}

.btn-custom:focus {
    outline: none;
}

/* END OF SIGNUP FORM CSS */
