* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    padding: 0;
}

.bodyclass {
    margin-left: 2rem;
}

h1 {
    font-weight: 600;
    color: rgb(48, 48, 48);
}

.buttons .btn {
    padding: 1rem 3rem 1rem 1rem;
    width: 80%;
}

.btn-purple {
    color: rgb(84, 84, 84);
    border: none;
    transition: 0.2s;
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
}

.btn-green {
    color: rgb(48, 48, 48);
    border: none;
    transition: 0.2s;
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
}

.btn-purple:hover {
    background-color: #5a34a1;
    color: white;
    transition: 0.2s;
}

.btn-green:hover {
    background-color: #117737;
    color: white;
    transition: 0.2s;
}

a {
    text-decoration: none;
}

.icons {
    max-width: 3rem;
    max-height: 3rem;
    margin-right: 1.75rem;
}

span {
    font-size: 0.9rem;
    font-family: "Helvetica";
}

.image img {
    margin-top: 1rem;
    width: 220px;
    height: 150px;
}

.text-left {
    margin-top: 3rem;
}

.custom-bg {
    background: linear-gradient(to bottom right, #343a40, #495057);
    color: white;
}

@media (max-width: 768px) {
    .rightside {
        display: none !important;
    }

    .btn {
        width: 80% !important;
        padding: 1rem 5rem 1rem 1rem !important;
        align-items: center !important;
    }

    .btn-purple {
        color: rgb(246, 246, 246);
        border: none;
        transition: 0.2s;
        background-color: #6f42c1;
        border-radius: 10px;
    }

    .btn-green {
        color: rgb(246, 246, 246);
        border: none;
        transition: 0.2s;
        background-color: #169c47;
        border-radius: 10px;
    }

    .bodyclass {
        align-items: center;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .image img {
        height: auto;
        width: auto;
    }

    .text-left {
        text-align: center;
    }

    .btn {
        width: 90%;
        margin: 0 auto;
    }

    .icons {
        width: 2.3rem;
        height: 2.3rem;
        margin-right: 10px;
    }

    .rightside {
        display: none;
    }
    .btn-secondary {
        background-color: #ffffff;
        color: rgb(47, 47, 47);
        background-color: rgb(199, 199, 199);
        border: rgb(67, 67, 67);
        transition: background-color 0.3s, color 0.3s;
        margin-left: 1.5rem;
    }
}
