* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.row{
    padding: 0;
}

.bodyclass{
    margin-left: 2rem;
}

h1{
    font-weight: 600;
    color: rgb(48, 48, 48);
}

.btn{
    padding: 1rem 3rem 1rem 1rem;
    /* width: 100%; */
    width: 80%;
}

.btn-purple {   
    /* color: #6f42c1; */
    color: rgb(84, 84, 84);
    border: none;
    transition: 0.2s;
    /* border: 2px solid #6f42c1; */
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
}

.btn-green{
    /* color: #169c47 ; */
    color: rgb(48, 48, 48);
    border: none;
    transition: 0.2s;   
    /* border: 2px solid #169c47; */
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
}

.btn-purple:hover {
    background-color: #5a34a1;
    color: white;
    transition: 0.2s;
}

.btn-green:hover {
    background-color: #117737;
    color: white;
    transition: 0.2s;
}

a{
    text-decoration: none;
}

.icons{
    max-width: 3rem;
    max-height: 3rem;
    margin-right: 1.75rem;
}

span{
    font-size: 0.9rem;
    font-family: 'Helvetica';
}

.image img{
    margin-bottom: 7.5rem;
    margin-top: 2rem;
    max-width: 100%;
    height: auto;
}

/* Media Queries */

@media (max-width: 768px) {
    .rightside{
        display:none !important;
    }

    .btn{
        width: 80% !important;
        padding: 1rem 5rem 1rem 1rem !important;
        align-items: center !important;
    }

    .btn-purple {   
        /* color: #6f42c1; */
        color: rgb(246, 246, 246);
        border: none;
        transition: 0.2s;
        /* border: 2px solid #6f42c1; */
        background-color: #6f42c1;
        border-radius: 10px;
    }
    
    .btn-green{
        /* color: #169c47 ; */
        color: rgb(246, 246, 246);
        border: none;
        transition: 0.2s;   
        /* border: 2px solid #169c47; */
        background-color: #169c47;
        border-radius: 10px;
    }

    .bodyclass{
        align-items: center;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .image img {
        height: auto; /* Maintain aspect ratio */
        width: auto; /* Make the image responsive */
    }

    .text-left {
        text-align: center;
    }

    .btn {
        width: 90%; /* Make buttons nearly full width */
        margin: 0 auto; /* Center buttons */
    }

    .icons {
        width: 2.3rem; /* Adjust icon size */
        height: 2.3rem; /* Adjust icon size */
        margin-right: 10px; /* Add margin to the right */
    }

    .rightside {
        display: none; /* Hide right column on mobile */
    }
}